
__pycache__

dist/*
containers/db/data/*
containers/db/scripts/*
containers/dash/datastore/*
containers/dash/log/*
containers/mongo/data/*

elasticsearch/backup/backup/*
elasticsearch/data/*
elasticsearch/logs/*

src/engine/*.pickle

!.gitkeep

.DS_Store